<%- include ('partials/header.ejs') %>
<body>
<%-include ('partials/navbar.ejs')%>
<div class="container">

    <div class="card mt-3">
        <div class="card-header">
            <h3 class="mt-3">Realizar pergunta</h3>
        </div>
        <div class="card-body">
            <form action="">
                <label class="form-label" for="">Titulo</label>
                <input class="form-control" type="text" placeholder="Titulo da pergunta">
                <label class="form-label" for="">Descrição</label>
                <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="descreva sua pergunta"></textarea>
                <input class="btn btn-primary mt-3" type="submit" value="Perguntar">
            </form>
        </div>
    </div>



</div>




</body>
<%-include('partials/footer.ejs')%>
